
<section class="hero-section">
    <div class="hero">
        <div class="hero-container">
            <h1 class="title-hero">organic vegetables to your diet today!</h1>
            <p class="text-hero">
                Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available.
                Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable
                baskets delivered to you.
            </p>
        </div>
        <div class="hero-img">
                <img src="src/img/2-hero-bg/hero-bg-mob.webp"  srcset="../img/2-hero-bg/hero-bg-desk.webp , ../img/2-hero-bg/hero-bg-tab.webp" alt="Vegetables"  >
        </div>
    </div>
</section>