<section class="how_it_works_section " id="how_it_works">
    <h2 class="visually-hidden">How it works</h2>



      <div class="block_for_img">
          <picture class="picture">
              <source srcset="/img/3-how-it-works/how-desk.webp 1x, /img/3-how-it-works/how-desk-2x.webp 2x" media="(min-width: 1280px)">
              <source srcset="/img/3-how-it-works/how-tab.webp 1x, /img/3-how-it-works/how-tab-2x.webp 2x" media="(min-width: 768px)">
              <img srcset="/img/3-how-it-works/how-mob.webp 1x, /img/3-how-it-works/how-mob-2x.webp 2x"
                   src="/img/3-how-it-works/how-mob.webp"
                   alt="women_cook">
          </picture>
      </div>


      <div class="container">
      <div class="block_works">
          <h3 class="header_works">
              To order your <span class="span_works_header">vegetable</span> basket,
              simply follow these <span class="span_works_header">easy steps</span>
          </h3>

          <p class="text_works">
              Our baskets are assembled with
              care and delivered straight to your doorstep,
              so you can enjoy the taste of fresh fruit without ever leaving your home.
          </p>


          <ol class="list_works">

              <li class="list-item-works">


                <div class="block-text">
                  <p class="text_block">Just choose <span class="list_item_span">the vegetable</span>
                you want to order by clicking on the checkboxes
                <span class="list_item_span">next to it</span></p>

                </div>
              </li>
              <li class="list-item-works">

                <div class="block-text">
                  <p class="text_block">Click on <span class="list_item_span">the basket</span>
                    and fill out the form.</p>
                  </div>

              </li>
              <li class="list-item-works">
                  <div class="block-text">
                  <p class="text_block">Sit back and relax! Your
                    <span class="list_item_span">fresh vegetables</span>
                    basket will be delivered.</p></div>
              </li>
          </ol>

      </div>
    </div>




</section>