<div class="overlay is-open" data-menu>
  <div class="mob">
    <div class="mob-menu-container">
      <div class="mob-wrapper">
        <button class="close-btn" type="button" data-menu-close>
          <svg class="close-icon" width="32" height="32">
            <use href="..//img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="mob-nav">
          <ul class="mob-menu-list">
            <li class="mob-list-item">
              <a href="" class="mob-nav-item">How It Works</a>
            </li>
            <li class="mob-list-item">
              <a href="" class="mob-nav-item">Vegetables</a>
            </li>
            <li class="mob-list-item">
              <a href="" class="mob-nav-item">Reviews</a>
            </li>
          </ul>
        </nav>
        <div class="btn-div">
          <a href="" class="mob-nav-btn">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
