<section class="reviews">
  <div class="container">
    <div class="reviews-top-wrapper">
      <h2 class="reviews-title">
        reviews from our <span class="reviews-accent">customers</span>
      </h2>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <div class="reviews-slider-gradient">
      <div class="reviews-slider">
        <ul class="reviews-list">
          <li class="reviews-item">
            <img
              srcset="
                ./img/6-reviews/cust1.webp    1x,
                ./img/6-reviews/cust1-2x.webp 2x
              "
              src="./img/6-reviews/cust1.webp"
              alt=""
              class="reviews-item-image"
            />
            <h3 class="reviews-item-title">John Wax</h3>
            <p class="reviews-item-text">
              These vegetables are my secret to delicious and healthy meals. The
              quality is always at the highest level, the aroma and taste are
              enchanting. I advise every fan of real products!
            </p>
          </li>
          <li class="reviews-item">
            <img
              srcset="
                ./img/6-reviews/cust2.webp    1x,
                ./img/6-reviews/cust2-2x.webp 2x
              "
              src="./img/6-reviews/cust2.webp"
              alt=""
              class="reviews-item-image"
            />
            <h3 class="reviews-item-title">Victoria Romashenko</h3>
            <p class="reviews-item-text">
              I love how fast and fresh the vegetables are delivered. Salads
              always turn out so appetizing, and soups are real masterpieces.
              The quality is impeccable!
            </p>
          </li>
          <li class="reviews-item">
            <img
              srcset="
                ./img/6-reviews/cust3.webp    1x,
                ./img/6-reviews/cust3-2x.webp 2x
              "
              src="./img/6-reviews/cust3.webp"
              alt=""
              class="reviews-item-image"
            />
            <h3 class="reviews-item-title">Ihor Trachuk</h3>
            <p class="reviews-item-text">
              Recently tried my fresh tomatoes and peppers - amazing! The
              authenticity of the taste, as if from the garden directly to my
              table. It is now my main vegetable supplier.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
