<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="title-vegetables">
      organic <span class="span-veg">vegetables</span>
    </h2>
    <p class="p-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="list-vegetables">
      <li class="item-vegetables">
        <h3 class="head-vegetables">eggplant</h3>
        <p class="price-vegetables">60 USD / kg</p>
        <picture class="img-vegetables">
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/5-vegetables/veg1-desk.webp    1x,
              ./img/5-vegetables/veg1-desk-2x.webp 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/5-vegetables/veg1-tab.webp    1x,
              ./img/5-vegetables/veg1-tab-2x.webp 2x
            " />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/5-vegetables/veg1-mob.webp    1x,
              ./img/5-vegetables/veg1-mob-2x.webp 2x
            " />
          <img
            src="./img/5-vegetables/veg1-desk.webp"
            alt="eggplant"
            width="280"
        /></picture>
      </li>
      <li class="item-vegetables">
        <h3 class="head-vegetables">leek</h3>
        <p class="price-vegetables">50 USD / kg</p>
        <picture class="img-vegetables">
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/5-vegetables/veg2desk.webp     1x,
              ./img/5-vegetables/veg2-desk-2x.webp 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/5-vegetables/veg2-tab.webp    1x,
              ./img/5-vegetables/veg2-tab-2x.webp 2x
            " />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/5-vegetables/veg2-mob.webp    1x,
              ./img/5-vegetables/veg2-mob-2x.webp 2x
            " />
          <img src="./img/5-vegetables/veg2-desk.webp" alt="leek" width="280"
        /></picture>
      </li>
      <li class="item-vegetables">
        <h3 class="head-vegetables">mushrooms</h3>
        <p class="price-vegetables">40 USD / kg</p>
        <picture class="img-vegetables">
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/5-vegetables/veg3desk.webp     1x,
              ./img/5-vegetables/veg3-desk-2x.webp 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/5-vegetables/veg3-tab.webp    1x,
              ./img/5-vegetables/veg3-tab-2x.webp 2x
            " />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/5-vegetables/veg3-mob.webp    1x,
              ./img/5-vegetables/veg3-mob-2x.webp 2x
            " />
          <img
            src="./img/5-vegetables/veg3-desk.webp"
            alt="mushrooms"
            width="280"
        /></picture>
      </li>
      <li class="item-vegetables">
        <h3 class="head-vegetables">corn</h3>
        <p class="price-vegetables">60 USD / kg</p>
        <picture class="img-vegetables">
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/5-vegetables/veg4desk.webp     1x,
              ./img/5-vegetables/veg4-desk-2x.webp 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/5-vegetables/veg4-tab.webp    1x,
              ./img/5-vegetables/veg4-tab-2x.webp 2x
            " />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/5-vegetables/veg4-mob.webp    1x,
              ./img/5-vegetables/veg4-mob-2x.webp 2x
            " />
          <img src="./img/5-vegetables/veg4-desk.webp" alt="corn" width="280"
        /></picture>
      </li>
      <li class="item-vegetables">
        <h3 class="head-vegetables">sweet potatoes</h3>
        <p class="price-vegetables">50 USD / kg</p>
        <picture class="img-vegetables">
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/5-vegetables/veg5desk.webp     1x,
              ./img/5-vegetables/veg5-desk-2x.webp 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/5-vegetables/veg5-tab.webp    1x,
              ./img/5-vegetables/veg5-tab-2x.webp 2x
            " />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/5-vegetables/veg5-mob.webp    1x,
              ./img/5-vegetables/veg5-mob-2x.webp 2x
            " />
          <img
            src="./img/5-vegetables/veg5-desk.webp"
            alt="sweet potatoes"
            width="280"
        /></picture>
      </li>
      <li class="item-vegetables">
        <h3 class="head-vegetables">carrot</h3>
        <p class="price-vegetables">40 USD / kg</p>
        <picture class="img-vegetables">
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/5-vegetables/veg6desk.webp     1x,
              ./img/5-vegetables/veg6-desk-2x.webp 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/5-vegetables/veg6-tab.webp    1x,
              ./img/5-vegetables/veg6-tab-2x.webp 2x
            " />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/5-vegetables/veg6-mob.webp    1x,
              ./img/5-vegetables/veg6-mob-2x.webp 2x
            " />
          <img src="./img/5-vegetables/veg6-desk.webp" alt="carrot" width="280"
        /></picture>
      </li>
    </ul>
  </div>
</section>
