.advertisement {
  background-color: #fbfbfb;
  padding: 80px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertisement-interest {
  display: inline-block;
  border-radius: 12px;
  width: 335px;
  height: 102px;
  color: #fbfbfb;
  background-color: #576f35;
}
.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0;
  }
  .advertisement-interest {
    width: 675px;
    height: 86px;
    padding-top: 20px;
    padding-right: 5px;
  }
  .advertisement-text {
    font-size: 64px;
    line-height: 1;
  }
}
@media only screen and (min-width: 1280px) {
  br {
    display: none;
  }
  .advertisement {
    padding: 100px 0;
  }
  .advertisement-text {
    font-size: 76px;
    width: 1054px;
    height: 228px;
  }
  .advertisement-interest {
    min-width: 814px;
    height: 84px;
    padding-top: 4px;
    padding-left: 16px;
    margin-left: -16px;
  }
}
