/* ---- MOBILE ---- */

.header {
  /* background-color: rgba(255, 255, 255, 0.13); */
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  padding: 28px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  fill: #fbfbfb;
}

.header-nav-list {
  display: none;
  margin-left: auto;
  padding: 36px 0;
}

.header-nav-link {
  display: block;
  height: 44px;
  background-color: transparent;
  color: inherit;
  padding: 12px;
  border: 1px solid #fbfbfb;
  border-radius: 12px;

  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;

  transition-property: color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #7a3145;
  border-color: #d4bfc4;
  background-color: #d4bfc4;
}

.header-nav-link:active {
  color: #7a3145;
  border-color: #fbfbfb;
  background-color: #fbfbfb;
}

.header-nav-btn {
  display: none;

  color: inherit;
  padding: 16px 32px;
  background-color: #7a3145;
  min-width: 157px;
  height: 52px;
  border-radius: 30px;
  text-align: center;
  margin-left: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  transition-property: color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-btn:hover,
.header-nav-btn:focus {
  color: #7a3145;
  background-color: #d4bfc4;
}

.header-nav-btn:active {
  color: #7a3145;
  background-color: #fbfbfb;
}

.header-menu-btn {
  background-color: transparent;
  padding: 20px 0;
  border: none;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn-icon {
  fill: none;
  stroke: #fbfbfb;
}

/* ---- TABLET ---- */

@media screen and (min-width: 768px) {
  .logo {
    padding: 42px 0;
  }

  .logo-icon {
    width: 216px;
    height: 20px;
  }

  .header-menu-btn {
    padding: 32px 0;
  }

  .menu-btn-icon {
    width: 40px;
    height: 40px;
  }
}

/* ---- DESKTOP ---- */

@media screen and (min-width: 1280px) {
  .logo {
    padding: 24px 0;
  }

  .header-nav-list {
    display: flex;
    gap: 8px;
  }

  .header-nav-btn {
    display: block;
  }

  /*  */

  .header-menu-btn {
    display: none;
  }
}

/* 












 */
