.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---- MOBILE ---- */

.how_it_works_section {
  display: flex;
  flex-direction: column;
}
.block_for_img {
  padding: 40px 0;
  background-color: #7a3145;
}

.works-pic-wrapper {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.block_works {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #576f35;
}

.works-wrapper {
  max-width: 375px;
  padding: 0 20px;
}

.header_works {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.span_works_header {
  color: #d4bfc4;
}

.text_works {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

.list_works {
  display: flex;
  flex-direction: column;

  gap: 20px;
  counter-reset: step-counter;
}

.list-item-works {
  position: relative;

  background-color: #fbfbfb;
  border-radius: 15px;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 24px;

  padding: 12px 27px 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #858585;
}

.list-item-works::before {
  content: '';
  content: counter(step-counter);
  counter-increment: step-counter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border-radius: 100%;

  border: 5px solid #d4bfc4;
}

.list_item_span {
  font-weight: 700;
  color: #141414;
}

/* ---- TABLET ---- */

@media screen and (min-width: 768px) {
  .block_for_img {
    padding: 100px 32px;
  }

  .works-pic-wrapper {
    max-width: 640px;
    padding: 0;
    margin: 0 auto;
  }

  .block_works {
    padding: 100px 132px;
  }

  .works-wrapper {
    max-width: calc(440px + 20px * 2);
  }

  .header_works {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .text_works {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }

  .list_works {
    gap: 24px;
  }

  .list-item-works {
    padding: 12px 20px 12px 24px;
    font-size: 16px;
    line-height: 1.25;
  }
}

/* ---- DESKTOP ---- */

@media screen and (min-width: 1280px) {
  .how_it_works_section {
    flex-direction: row;
  }
  .block_for_img {
    width: 50%;
    padding: 100px 100px;
  }

  .works-pic-wrapper {
    max-width: 440px;
    margin: 0 0 0 auto;
  }

  .block_works {
    width: 50%;
    padding: 100px 0;
  }

  .works-wrapper {
    max-width: calc(440px + 100px * 2);
    padding: 0 100px;
    margin: 0 auto 0 0;
  }

  .header_works {
    max-width: 440px;
  }

  .text_works {
    font-size: 16px;
    max-width: 440px;
    margin-bottom: 104px;
  }

  .list_works {
    gap: 24px;
  }
}
