
.container{
    max-width: 375px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.how_it_works_section{
    display: flex;
    margin-top: 100px;
/*    background-color: #7A3145;*/


    flex-direction: column;

}
.block_for_img{
/*  margin: 0 auto;*/

    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    background-color: #7A3145;


}
.picture{
  display: flex;
  align-items: center;
  justify-content: center;
}

.women_cooks_img{
    border-radius: 30px;

}

img{
    display: block;
    max-width: 100%;
    height: auto;
  border-radius: 30px;
}

.block_works{
    padding: 80px 20px;
    background-color: #576F35;
}

.header_works{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
}

.span_works_header{
    color: #D4BFC4;
}

.text_works{
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #FBFBFB;
}

.list_works{
    display: flex;
    flex-direction: column;


    gap: 20px;
    counter-reset: step-counter;
}

.list-item-works{
    position: relative;

    background-color: #FBFBFB;
    border-radius: 15px;
    width: 335px;
    height: 84px;

    display: flex;
    align-items: center;


    padding-left: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #858585;


}

.text_block{
  max-width: 208px;
}



.list-item-works::before{
    content: "1";
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    top: 16px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    width: 52px;
    height: 52px;
    background-color: #7A3145;
    border-radius: 100%;

    border: 5px solid #D4BFC4;
}


.list_item_span{
    font-weight: 700;
    color: #141414;
}


@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;
    padding: 0;
  }

  .block_for_img{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .block_works{
    padding-right: 164px;
    padding-left: 164px;
    padding-bottom: 100px;
    padding-top: 100px;

  }

  .header_works{
    font-size: 32px;
    margin-bottom: 24px;
  }

  .text_works{
    line-height: 1.25;
    margin-bottom: 52px;
  }

  .list_works{
    gap: 24px;
  }

  .list-item-works{
    width: 440px;
    height: 76px;
    font-size: 16px;
    line-height: 1.25;

  }

  .text_block{
    max-width: 325px;
  }



}

@media screen and (min-width:1280px) {
  .container{
    max-width: 1280px;
/*    padding: 0;*/


  }

  .how_it_works_section{
    flex-direction: row;
  }

  .block_works{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;


  }
  .header_works{
    max-width: 440px;
  }

  .text_works{
    font-size: 16px;
    max-width: 440px;
    margin-bottom: 104px;

  }

  .list_works{
    gap: 24px;
  }
  .block_for_img{
    width: 50%;
  }

}



